<!DOCTYPE html>
<html>
	<head>
		<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
		<script type="text/javascript" src="{{ url_for('static', filename='code.js') }}"></script>
	</head>
	<body>
		<div id='big_wrapper'>
		<div id='header'>
			<h1>pyERP</h1>

			<div id='toolbar'>
				<a href='/'>Home</a>
				<a href='/customers'>customers</a>
				<a href='/materials'>materials</a>
				<a href='/invoices'>invoices</a>
			</div>

		</div>
	</body>
	
</html>